*.parquet
*.csv
*.tif
*.pdf
.DS_Store
.ipynb_checkpoints
**/Image*
**/QC
/results*
/old_features*
notebooks/data_csv/
notebooks/output/
notebooks/settings/
notebooks/Finished*
output/
notebooks/
data/
old_files/
M18_frames/
*old.ipynb
/testing/
.venv/
AZ/
__pycache__/
*.pyc
*.tiff
detection_example_dataset/
